.Footer {
  position: relative;
  grid-area: Footer;
  padding: 10px;
  background: rgb(32, 35, 41);
  color: #fff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.Footer p {
  color: #ffffff;
  text-align: center;
}

.Footer h3 {
  color: #ffffff;
}
