.timeCounter{
  position: fixed;
  top: 5%;
  left: 12%;
  width: 180px;
  height: 70px;
  background-color: #026602;
  z-index: 10;
  border:2px solid rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}
.timeCounter h3{
  color: white;
  text-align: center;
  margin-top: 10px;
}
.timeCounter button{
  position: relative;
  background-color: #026602;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #fff;
  width: 50%;
  
}
